nav {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav p {
    margin: 10px;
    font-size: 20px;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    font-size: 23px;
}